<html>
<head>
    <style>
        .my-border-black {
            border: 2px solid black;
        }

        .my-border-red {
            border: 2px solid lightcoral;
        }

        .my-border-blue {
            border: 2px solid lightblue;
        }

        .my-border-green {
            border: 2px solid lightgreen;
        }
    </style>
</head>
<body>
    <div my-border-color="red">
        <h3>Text</h3>
    </div>
    <div>
        <h3>Text</h3>
    </div>
    <div my-border-color="blue">
        <h3>Text</h3>
    </div>
</body>
</html>
